.container{
  max-width: 500px !important;
  margin: auto;
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.img-chat{
  max-width: 100%;
  border-radius: 50%;
}

.msg-header{
  border: 1px solid #ccc;
  width: 100%;
  height: 10%;
  border-bottom: none;
  padding-bottom: 10px;
  display: inline-block;
  background-color: #FF5733;
}

.msg-header-img{
  border-radius: 50%;
  width: 40px;
  margin-left: 5%;
  margin-top: 12px;
  float: left;
}

.active{
  width: 120px;
  float: left;
  margin-top: 10px;
}

.active h4{
  font-size: 20px;
  margin-left: 10px;
  color: #fff;
}

.active h6{
  font-size: 5px;
  margin-left: 10px;
  line-height: 20px;
  color: #fff;
}

.chat-page{
  padding: 0 0 5px 0;
}

.msg-inbox{
  border: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 30px;
}

.chat{
  padding: 30px 15px 0 25px;
}

.msg-page{
  height: 390px;
  overflow-y: scroll;
}

.received-chats-img{
  display: inline-block;
  width: 20px;
  float: left;
}

.img-chat-customer{
  width: 100%;
}

.received-msg{
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received-msg-inbox{
  width: 57%;
}

.received-msg-inbox p{
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: "646464";
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time{
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.out-chats-msg p{
  background: #FF5733 none repeat scroll 0 0;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.out-chats-msg{
  float: left;
  width: 46%;
  margin-left: 45%;
}

.out-chats-img{
  display: inline-block;
  width: 30px;
  float: right;
}

.img-chat-response{
  width: 100%;
}

.msg-bottom{
  background-color: #FF5733;
  position: relative;
  height: 60px;
  
}

.input-group{
  float: right;
  margin-top: 13px;
  margin-right: 20px;
  outline: none !important;
  border-radius: 20px;
  width: 61% !important;
  background-color: #fff;
}

.form-control{
  border: none !important;
  border-radius: 20px !important;
}

.input-group-text{
  background: transparent !important;
  border: none !important;
}

.input-group .fa{
  color: #FF5733;
  float: right;
}

.bottom-icons{
  float: left;
  margin-top: 17px;
  width: 30% !important;
  margin-left: 22px;
}

.bottom-icons{
  color: #fff;
  padding: 5px;
}

.form-control:focus{
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 20px;
}